# Najpierw wykluczamy wszystko, potem dopuszczamy tylko to, czego potrzebuje aplikacja.
# Plik z danymi, testy, .git i .venv nie trafią więc do obrazu.
*

!requirements-app.txt
!config.py
!src/
!app/
!.streamlit/
!outputs/

# ale bez cache Pythona
**/__pycache__
**/*.pyc
